// Import Bootstrap
@use "~bootstrap/scss/bootstrap" as *;

// Import font-awesome icons
@use "~@fortawesome/css/all.min.css";

//
table.index {
    table-layout: fixed;

    th,
    td {
        word-wrap: break-word;
    }
}

#status {
    line-height: unset;
}
